$blue-10: #2F78AC;
$blue-20: #153c58;
$red-10: #8D2728;
$black-10: #101828;
$white-10: #FFFFFF;
$gray-10: #ccccccb7;
$shadow: rgba(0, 0, 0, 0.30) 0 5px 20px;
$shadow-20: rgba(0, 0, 0, 0.15) 0 5px 20px;


$black-50: #FDFDFD;
$black-500: #6D6D6D;
$black-900: #1B1B1B;
$red-300: #8d2728;
$red-500: #691b1d;
$overlay: rgba(0, 0, 0, 0.481);