@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 12vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

body {
  background-color: #FFFFFF;
  position: relative;
}
body .overlay {
  background-color: rgba(0, 0, 0, 0.481);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 4;
  display: none;
}
body #scrollTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  background-color: #101828;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  height: 3rem;
  width: 3rem;
  border-radius: 10rem;
  border: none;
  outline: none;
  position: fixed;
  bottom: 6.5rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  z-index: 3;
}
body #scrollTop ion-icon {
  font-size: 1.5rem;
  color: #FFFFFF;
}
body .toast {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 1rem;
  visibility: hidden;
  background-color: #FFFFFF;
  color: #5caa69;
  min-width: 200px;
  border-radius: 0.7rem;
  text-align: center;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  left: 2rem;
  bottom: 30px;
  font-size: 1.15rem;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, bottom 0.5s ease, transform 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 3;
}
body .toast ion-icon {
  display: flex;
  align-items: flex;
  justify-content: center;
  flex-direction: center;
  gap: 0;
  background-color: #5caa69;
  color: #FFFFFF;
  width: 2.5rem;
  padding: 0.6rem 0;
  font-size: 1.4rem;
  border-radius: 0.3rem;
}
body .toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
  transform: translateY(0);
}
body .icon-whatsapp {
  height: 3.2rem;
  width: 3.2rem;
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  z-index: 3;
  display: none;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 5px 20px);
}
body .icon-whatsapp picture img {
  width: 100%;
  height: 100%;
}
body #success-popup {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 3rem;
  left: 40% !important;
  background-color: #FDFDFD;
  width: 22%;
  height: 25rem;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  z-index: 5;
  display: none;
}
body #success-popup .message-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  width: 100%;
  font-size: 3rem;
  color: #691b1d;
}
body #success-popup .message-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
body #success-popup .message-content h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #1B1B1B;
}
body #success-popup .message-content p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #1B1B1B;
  opacity: 0.7;
}
body #success-popup .message-back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  width: 50%;
  height: 3rem;
  background-color: #4879E9;
  color: #FDFDFD;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
body #success-popup .message-back-button:hover {
  background-color: #224eb4;
}
body #success-popup.flex {
  display: flex;
}
body #section-form {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 1.5rem;
  left: 35% !important;
  background-color: #FDFDFD;
  width: 35%;
  height: 95%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  z-index: 5;
  overflow-y: scroll;
  display: none;
  padding: 4rem 2.5rem;
}
body #section-form #close-form {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
body #section-form #close-form i {
  font-size: 2.2rem;
  color: #8d2728;
}
body #section-form .banner-form {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 44rem 0 0 0;
}
body #section-form .banner-form img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
body #section-form h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  height: 20%;
  font-size: 1.8rem;
  font-weight: 700;
  color: #1B1B1B;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body #section-form h2 i {
  font-size: 1.5rem;
  color: #691b1d;
  margin-right: 0.5rem;
}
body #section-form .greeting-form {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body #section-form .greeting-form p {
  color: #6D6D6D;
  font-size: 1.1rem;
  font-weight: 500;
}
body #section-form .form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-height: 5000px;
  padding: 2rem 0 0 0;
}
body #section-form .form-content label {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0.55rem;
  width: 100%;
}
body #section-form .form-content label p {
  color: #6D6D6D;
  font-size: 1.1rem;
  font-weight: 500;
}
body #section-form .form-content label p span {
  color: #8d2728;
}
body #section-form .form-content label input {
  display: flex;
  align-items: center;
  justify-content: column;
  flex-direction: center;
  gap: 0;
  width: 100%;
  border: 0.1rem solid #DDE8FC;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  font-weight: 300;
  outline: none;
}
body #section-form .form-content label input::-moz-placeholder {
  color: #6D6D6D;
  opacity: 0.7;
  font-size: 1.1rem;
  font-weight: 300;
}
body #section-form .form-content label input::placeholder {
  color: #6D6D6D;
  opacity: 0.7;
  font-size: 1.1rem;
  font-weight: 300;
}
body #section-form .form-content label input:focus {
  border: 0.1rem solid #691b1d;
}
body #section-form .form-content label textarea {
  display: flex;
  align-items: center;
  justify-content: column;
  flex-direction: center;
  gap: 0;
  width: 100%;
  height: 7rem;
  border: 0.1rem solid #DDE8FC;
  color: #1B1B1B;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  border-radius: 0.5rem;
  outline: none;
}
body #section-form .form-content label textarea::-moz-placeholder {
  color: #6D6D6D;
  opacity: 0.7;
  font-size: 1.1rem;
  font-weight: 300;
}
body #section-form .form-content label textarea::placeholder {
  color: #6D6D6D;
  opacity: 0.7;
  font-size: 1.1rem;
  font-weight: 300;
}
body #section-form .form-content label textarea:focus {
  border: 0.1rem solid #691b1d;
}
body #section-form .form-content label select {
  display: flex;
  align-items: center;
  justify-content: column;
  flex-direction: center;
  gap: 0;
  width: 100%;
  border: 0.1rem solid #DDE8FC;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: #FDFDFD;
  color: #1B1B1B;
  font-size: 1.1rem;
  font-weight: 300;
  opacity: 0.7;
}
body #section-form .form-content label select option {
  color: #1B1B1B;
  font-size: 0.9rem;
  font-weight: 400;
}
body #section-form .form-content label select:focus {
  border: 0.1rem solid #691b1d;
}
body #section-form .form-content button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  height: 3rem;
  background-color: #8d2728;
  color: #FDFDFD;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
body #section-form .form-content button:hover {
  background-color: #691b1d;
}
body #section-form::-webkit-scrollbar {
  width: 0.2rem;
}
body #section-form::-webkit-scrollbar-thumb {
  background-color: #691b1d;
  border-radius: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 0;
  background-color: #153c58;
  width: 100%;
  height: 12vh;
  position: fixed;
  z-index: 3;
}
nav .nav__menu {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}
nav .nav__menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  color: #FDFDFD;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
nav .nav__menu li a:hover {
  color: #a6a6a6;
}
nav .nav__menu .dropdown {
  position: relative;
  display: inline-block;
}
nav .nav__menu .dropdown .dropBtn {
  display: flex;
  align-items: center;
  justify-content: cemter;
  flex-direction: column;
  gap: 0;
  background-color: transparent;
  color: #FDFDFD;
  padding: 0.15rem 1rem;
  font-size: 1.3rem;
  border: 0.15rem solid #FDFDFD;
  border-radius: 0.5rem;
  cursor: pointer;
}
nav .nav__menu .dropdown .dropdown-content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  display: none;
  position: absolute;
  top: 5rem;
  background-color: #153c58;
  min-width: 300px;
  padding: 2rem;
  list-style: none;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 20px;
  border-radius: 0.5rem;
  z-index: 4;
}
nav .nav__menu .dropdown .show {
  display: flex;
}
nav .nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  min-width: 12rem;
  height: 3.3rem;
  background-color: #8d2728;
  color: #FDFDFD;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
nav .nav__button:hover {
  background-color: #691b1d;
}
nav .nav__open-mobile {
  background-color: transparent;
  border: none;
  display: none;
  outline: none;
  cursor: pointer;
}
nav .nav__open-mobile ion-icon {
  font-size: 2.6rem;
  color: #FDFDFD;
}

.nav__mobile-menu {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 0;
  position: fixed;
  background-color: #153c58;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
}
.nav__mobile-menu .nav__close-mobile {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 3rem;
}
.nav__mobile-menu .nav__close-mobile ion-icon {
  font-size: 3.4rem;
  color: #FFFFFF;
}
.nav__mobile-menu .nav__mobile-links {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}
.nav__mobile-menu .nav__mobile-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  color: #FFFFFF;
  font-size: 1.7rem;
  text-decoration: none;
  cursor: pointer;
}
.nav__mobile-menu .nav__mobile-links li a ion-icon {
  opacity: 0.3;
}
.nav__mobile-menu .nav__mobile-links li a:hover {
  color: #a6a6a6;
}
.nav__mobile-menu.show {
  display: flex;
}

#home__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
#home__container .home__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  width: 35%;
}
#home__container .home__image img {
  width: 100%;
  height: 100%;
}
#home__container .home__content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 3.5rem;
  width: 55%;
  height: 100%;
  padding: 0 9rem;
}
#home__container .home__content h2 {
  width: 100%;
  font-size: 4rem;
  color: #153c58;
  font-weight: 900;
}
#home__container .home__content p {
  font-size: 1.5rem;
  color: #153c58;
}

#aboutMe__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10rem;
  width: 100%;
  height: 100vh;
  padding: 10rem 9rem 5rem 9rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 1;
}
#aboutMe__container .aboutMe__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  width: auto;
  position: relative;
}
#aboutMe__container .aboutMe__image img {
  border-radius: 100%;
  width: 450px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
}
#aboutMe__container .aboutMe__image span {
  font-size: 1.5rem;
  color: #153c58;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#aboutMe__container .aboutMe__image span strong {
  color: #8D2728;
  font-weight: 700;
}
#aboutMe__container .aboutMe__content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}
#aboutMe__container .aboutMe__content p {
  font-size: 1.3rem;
  color: #6D6D6D;
  font-weight: 400;
  text-indent: 0.85rem;
}

#why__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  background-color: #153c58;
  width: 100%;
  height: 70vh;
  padding: 3rem;
  position: relative;
  z-index: 1;
}
#why__container h2 {
  font-size: 3rem;
  color: #FFFFFF;
  margin: 3rem 0 0 0;
}
#why__container .why__text {
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: column;
  gap: 1.8rem;
  width: 80%;
}
#why__container .why__text p {
  font-size: 1.3rem;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 0.78;
  text-indent: 0.85rem;
}
#why__container .nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  min-width: 12rem;
  height: 3.3rem;
  background-color: #8d2728;
  color: #FDFDFD;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
#why__container .nav__button:hover {
  background-color: #691b1d;
}

#mission__cotainer {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  background-color: #153c58;
  width: 100%;
  height: 100vh;
  padding: 0 3rem;
  position: relative;
  z-index: 1;
}
#mission__cotainer h2 {
  font-size: 3rem;
  color: #FFFFFF;
}
#mission__cotainer p {
  width: 80%;
  font-size: 1.3rem;
  color: #FFFFFF;
  font-weight: 300;
  opacity: 0.78;
  text-indent: 0.85rem;
}

#when__container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1.8rem;
  background-color: #FFFFFF;
  width: 100%;
  height: 70vh;
  padding: 5rem 3rem 0 3rem;
  position: relative;
  z-index: 1;
}
#when__container h2 {
  font-size: 3rem;
  color: #153c58;
  margin: 3rem 0 0 0;
}
#when__container .why__text {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
#when__container .why__text p {
  font-size: 1.3rem;
  color: #6D6D6D;
  opacity: 0.78;
  text-indent: 0.85rem;
}

#areas__container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2.5rem;
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
  padding: 5rem 3rem 0 3rem;
  position: relative;
  z-index: 1;
}
#areas__container h2 {
  font-size: 3rem;
  color: #153c58;
  margin: 3rem 0 0 0;
}
#areas__container .areas__content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  flex-wrap: wrap;
}
#areas__container .areas__content .areas__card {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  max-width: 250px;
}
#areas__container .areas__content .areas__card picture {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  width: 150px;
  height: 130px;
}
#areas__container .areas__content .areas__card picture img {
  max-width: 100%;
  max-height: 100%;
}
#areas__container .areas__content .areas__card h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  font-size: 1.3rem;
  color: #1B1B1B;
  font-weight: 500;
}
#areas__container .areas__content .areas__card p {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 0;
  font-size: 1.3rem;
  color: #6D6D6D;
  opacity: 0.78;
  margin: 1rem 0 0 0;
}

#questions__container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: auto;
  padding: 7rem 3rem 3rem 3rem;
  position: relative;
  z-index: 1;
}
#questions__container h2 {
  font-size: 3rem;
  color: #153c58;
}
#questions__container .accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  background-color: transparent;
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  color: #1B1B1B;
  font-weight: 500;
  border: none;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
  text-align: start;
}
#questions__container .accordion::after {
  content: "+";
  font-size: 2rem;
  font-weight: 500;
  color: #153c58;
}
#questions__container .active::after {
  content: "−";
}
#questions__container .panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
#questions__container .panel p {
  font-size: 1.2rem;
  color: #6D6D6D;
  font-weight: 400;
  text-indent: 0.85rem;
}
#questions__container .line {
  background-color: #153c58;
  width: 100%;
  height: 0.1rem;
  opacity: 0.15;
}

#contact__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.2rem;
  background-color: #8D2728;
  width: 100%;
  height: 70vh;
  padding: 0 3rem;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#contact__container h2 {
  font-size: 3rem;
  color: #FFFFFF;
}
#contact__container p {
  font-size: 1.3rem;
  color: #FFFFFF;
  font-weight: 400;
}
#contact__container .contact__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  width: 50%;
}
#contact__container .contact__links .nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  background-color: #153c58;
  color: #FFFFFF;
  width: auto;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
#contact__container .contact__links .nav__button:hover {
  background-color: #0b202f;
}
#contact__container .contact__links .instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  background-color: #153c58;
  color: #FFFFFF;
  width: auto;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
#contact__container .contact__links .instagram:hover {
  background-color: #0b202f;
}
#contact__container span {
  font-size: 0.85rem;
  color: #FFFFFF;
  font-weight: 400;
}
#contact__container span a {
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: bold;
}

::-moz-selection {
  background-color: #8D2728;
  color: #FFFFFF;
}

::selection {
  background-color: #8D2728;
  color: #FFFFFF;
}

@media (min-width: 1200px) {
  nav .nav__menu {
    display: flex;
  }
  nav .nav__open-mobile {
    display: none;
  }
  .nav__mobile-menu {
    display: none;
  }
  #aboutMe__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
    padding: 0 3rem 5rem 3rem;
  }
  #aboutMe__container .aboutMe__content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
  }
  #questions__container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 3rem 5rem 3rem;
    height: auto;
  }
  #questions__container .accordion {
    width: 50%;
  }
  #questions__container .line {
    width: 50%;
  }
  #questions__container .panel {
    width: 50%;
  }
  #when__container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1.8rem;
  }
  #when__container .why__text {
    width: 50%;
  }
  #why__container .why__text {
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    gap: 1.8rem;
    width: 50%;
  }
  #areas__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    height: auto;
    padding: 0 3rem 3rem 3rem;
  }
  #areas__container .areas__content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    width: 50%;
  }
  #areas__container .areas__content .areas__card {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 0.8rem;
  }
  #areas__container .areas__content .areas__card picture {
    width: auto;
    height: 100px;
  }
  #areas__container .areas__content .areas__card p {
    text-align: center;
  }
  #mission__cotainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 5rem 3rem;
    width: 100%;
    height: 60vh;
  }
  #mission__cotainer p {
    width: 50%;
  }
  #contact__container {
    padding: 5rem 17rem;
    height: auto;
  }
  #contact__container span > br {
    display: none;
  }
}
@media (1000px <= width <= 1199px) {
  body #success-popup {
    top: 15%;
    left: 18% !important;
    min-width: 65%;
    height: 25rem;
  }
  body #section-form {
    left: 22% !important;
    min-width: 50%;
    padding: 4rem 2.5rem;
    top: 1.5rem;
  }
  body #section-form .banner-form {
    padding: 44rem 0 0 0;
  }
  nav .nav__menu {
    display: flex;
  }
  nav .nav__open-mobile {
    display: none;
  }
  .nav__mobile-menu {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    display: none;
    padding: 0 5rem;
  }
  .nav__mobile-menu .nav__mobile-links {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  .nav__mobile-menu .nav__mobile-links li a {
    font-size: 2rem;
  }
  #aboutMe__container {
    height: auto;
  }
  #when__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.8rem;
  }
  #when__container h2 {
    margin: 0;
  }
  #when__container .why__text {
    width: 70%;
  }
  #areas__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    height: auto;
    padding: 7.5rem 3rem 3rem 3rem;
  }
  #areas__container .areas__content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
  }
  #areas__container .areas__content .areas__card {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
  }
  #areas__container .areas__content .areas__card picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    width: 180px;
    height: 130px;
  }
  #areas__container .areas__content .areas__card picture img {
    max-width: 100%;
    max-height: 100%;
  }
  #areas__container .areas__content .areas__card p {
    text-align: center;
  }
  #questions__container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
    height: auto;
    padding: 9rem 3rem 3rem 3rem;
  }
  #questions__container .accordion {
    width: 70%;
  }
  #questions__container .line {
    width: 70%;
  }
  #questions__container .panel {
    width: 70%;
  }
  #why__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 8rem 3rem 5rem 3rem;
    height: auto;
  }
  #why__container .why__text {
    width: 70%;
  }
  #why__container .nav__button {
    padding: 0.8rem 3rem;
  }
  #mission__cotainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 7.5rem 3rem 3rem 3rem;
    height: 55vh;
  }
  #mission__cotainer .why__text {
    width: 70%;
  }
  #aboutMe__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4.5rem;
    padding: 10rem 3rem 4rem 3rem;
  }
  #aboutMe__container .aboutMe__image img {
    width: 350px;
    height: 350px;
  }
  #aboutMe__container .aboutMe__content {
    width: 71%;
  }
  #home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  #home__container .home__content {
    width: 75%;
    padding: 0 3rem;
  }
  #home__container .home__content h2 {
    font-size: 3.5rem;
  }
  #home__container .home__image {
    position: absolute;
    z-index: -1;
    bottom: 2rem;
    width: 50%;
    opacity: 0.35;
  }
  #contact__container {
    padding: 5rem 11rem;
    height: auto;
  }
  #contact__container .contact__links {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 2rem;
  }
  #contact__container .contact__links .nav__button {
    width: 40%;
  }
  #contact__container .contact__links .instagram {
    width: 10%;
  }
}
@media (780px <= width <= 999px) {
  body #success-popup {
    top: 15%;
    left: 18% !important;
    min-width: 65%;
    height: 25rem;
  }
  body #section-form {
    left: 18% !important;
    min-width: 65%;
    height: 90%;
    padding: 4rem 2.5rem;
    top: 1.5rem;
  }
  body #section-form .banner-form {
    padding: 44rem 0 0 0;
  }
  nav .nav__menu {
    display: none;
  }
  nav .nav__open-mobile {
    display: flex;
  }
  .nav__mobile-menu {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    display: none;
    padding: 0 5rem;
  }
  .nav__mobile-menu .nav__mobile-links {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  .nav__mobile-menu .nav__mobile-links li a {
    font-size: 1.7rem;
  }
  #questions__container,
  #when__container {
    height: auto;
    padding: 9rem 3rem 3rem 3rem;
  }
  #areas__container {
    height: auto;
    padding: 9rem 3rem 3rem 3rem;
  }
  #areas__container .areas__content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
  }
  #why__container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 8rem 3rem 5rem 3rem;
    height: auto;
  }
  #why__container .why__text {
    width: 100%;
  }
  #why__container .nav__button {
    padding: 0.8rem 3rem;
  }
  #mission__cotainer {
    padding: 7.5rem 3rem 3rem 3rem;
    height: 55vh;
  }
  #mission__cotainer p {
    width: 100%;
  }
  #when__container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1.8rem;
  }
  #aboutMe__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    padding: 10rem 3rem 4rem 3rem;
    height: auto;
  }
  #aboutMe__container .aboutMe__image img {
    width: 300px;
    height: 300px;
  }
  #aboutMe__container .aboutMe__content {
    width: 100%;
  }
  #home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  #home__container .home__content {
    width: 100%;
    padding: 0 3rem;
  }
  #home__container .home__content h2 {
    font-size: 3.5rem;
  }
  #home__container .home__image {
    position: absolute;
    z-index: -1;
    bottom: 2rem;
    width: 65%;
    opacity: 0.35;
  }
  #home__container .home__image img {
    width: 100%;
    height: 100%;
  }
  #contact__container {
    height: auto;
    padding: 5rem 3rem;
  }
  #contact__container .contact__links {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 2rem;
  }
  #contact__container .contact__links .nav__button {
    width: 40%;
  }
  #contact__container .contact__links .instagram {
    width: 10%;
  }
}
@media (430px <= width <= 779px) {
  body .icon-whatsapp {
    display: flex;
  }
  body #success-popup {
    top: 15%;
    left: 5% !important;
    min-width: 90%;
    height: 25rem;
  }
  body #section-form {
    left: 5% !important;
    min-width: 90%;
    height: 90%;
    padding: 4rem 2.5rem;
    top: 1.5rem;
  }
  nav .nav__menu {
    display: none;
  }
  nav .nav__open-mobile {
    display: flex;
  }
  .nav__mobile-menu {
    padding: 5rem 3rem 0 3rem;
  }
  #questions__container,
  #when__container,
  #areas__container {
    height: auto;
  }
  #areas__container .areas__content {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 3rem;
  }
  #why__container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    height: auto;
    padding: 5rem 3rem;
  }
  #why__container .why__text {
    width: 100%;
  }
  #why__container .nav__button {
    padding: 0.8rem 3rem;
  }
  #mission__cotainer {
    padding: 7.5rem 3rem 3rem 3rem;
  }
  #mission__cotainer p {
    width: 100%;
  }
  #aboutMe__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.2rem;
    height: auto;
    padding: 10rem 3rem 4rem 3rem;
  }
  #aboutMe__container .aboutMe__image img {
    width: 300px;
    height: 300px;
  }
  #aboutMe__container .aboutMe__content {
    width: 100%;
  }
  #home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  #home__container .home__content {
    width: 100%;
    padding: 0 3rem;
  }
  #home__container .home__content h2 {
    font-size: 3.5rem;
  }
  #home__container .home__image {
    position: absolute;
    z-index: -1;
    bottom: 2rem;
    width: 100%;
    opacity: 0.35;
  }
  #home__container .home__image img {
    width: 100%;
    height: 100%;
  }
  #contact__container {
    padding: 5rem 3rem;
    height: auto;
  }
  #contact__container .contact__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  #contact__container .contact__links .nav__button {
    width: 100%;
  }
  #contact__container .contact__links .instagram {
    width: 100%;
  }
}
@media (max-width: 429px) {
  body .icon-whatsapp {
    display: flex;
  }
  body #success-popup {
    top: 15%;
    left: 5% !important;
    min-width: 90%;
    height: 25rem;
  }
  body #section-form {
    top: 1rem;
    left: 5% !important;
    min-width: 90%;
    height: 95%;
    padding: 4rem 2.5rem;
  }
  body #section-form .banner-form {
    padding: 40rem 0 0 0;
  }
  nav .nav__menu {
    display: none;
  }
  nav .nav__open-mobile {
    display: flex;
  }
  .nav__mobile-menu {
    padding: 4.5rem 3rem 0 3rem;
  }
  .nav__mobile-menu .nav__mobile-links {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1.8rem;
  }
  .nav__mobile-menu .nav__mobile-links li a {
    font-size: 1.55rem;
  }
  #questions__container,
  #areas__container,
  #when__container {
    height: auto;
    padding: 3rem;
  }
  #questions__container h2,
  #areas__container h2,
  #when__container h2 {
    font-size: 2.5rem;
  }
  #why__container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 3rem 3rem 5rem 3rem;
    height: auto;
  }
  #why__container h2 {
    font-size: 2.5rem;
  }
  #why__container .why__text {
    width: 100%;
  }
  #why__container .nav__button {
    padding: 0.8rem 3rem;
  }
  #mission__cotainer {
    padding: 0 3rem 3rem 3rem;
  }
  #mission__cotainer h2 {
    font-size: 2.5rem;
  }
  #mission__cotainer p {
    width: 100%;
  }
  #aboutMe__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 4rem 3rem 4rem 3rem;
    height: auto;
  }
  #aboutMe__container .aboutMe__image img {
    width: 280px;
    height: 280px;
  }
  #aboutMe__container .aboutMe__content {
    width: 100%;
  }
  #home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  #home__container .home__content {
    width: 100%;
    padding: 0 3rem;
  }
  #home__container .home__content h2 {
    width: 100%;
    font-size: 2.85rem;
    word-wrap: break-word;
  }
  #home__container .home__image {
    position: absolute;
    z-index: -1;
    bottom: 2rem;
    width: 100%;
    opacity: 0.35;
  }
  #home__container .home__image img {
    width: 100%;
    height: 100%;
  }
  #contact__container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2.2rem;
    height: auto;
    padding: 5rem 3rem;
  }
  #contact__container .contact__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  #contact__container .contact__links .nav__button {
    width: 100%;
  }
  #contact__container .contact__links .instagram {
    width: 100%;
  }
}
@media (max-width: 399px) {
  body #section-form {
    top: 1rem;
    min-width: 90%;
    height: 95%;
    padding: 4rem 2.5rem;
    overflow-x: hidden;
  }
  body #section-form .banner-form {
    padding: 47rem 0 0 0;
  }
}/*# sourceMappingURL=style.css.map */